<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <hr>
    {{#each products}}
      <p>Title: {{title}}</p>
      <p>Price: ${{price}}</p>
      <p>Description: {{description}}</p>
      <p>Code: {{code}}</p>
      <p>Price: {{price}}</p>
      <p>Status: {{status}}</p>
      <p>Stock: {{stock}}</p>
      <p>Category: {{category}}</p>
      <p>Thumbnails: {{thumbnails}}</p>
      <hr>
    {{/each}}
</body>
</html>